{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "ie >= 8"]
            },
            "debug": true
        }],
        "stage-2"
    ],
    "plugins": [
        ["transform-runtime", {
            "helpers": false,
            "polyfill": false,
            "regenerator": true
        }]
    ]
}
